h1 {
    text-transform: uppercase;
    padding-bottom: 3rem;
}

#honeypot {
    display:none;
}

form {
    justify-content: center;
    padding: 2rem;
}

input {
    background-color: white;
}

#submitButton{
    text-align: center;
}

button:hover {
    background-color: #cac7ea;
    border-color: #cac7ea;
}

