header {
    display: flex;
    background-color: rgba(255, 255, 255, 1);
}

.Navbar {
    height: 50px;
    width:100%;
    display: flex-end;
    position: sticky;
    color:black;
    font-family:'Courier New', Courier, monospace;
}

.NavMenu {
    justify-content: right;
    align-items: right;
    height: 100%;
    width:100%;
    display: flex;
    position: sticky;
    color:black;
    font-family:'Courier New', Courier, monospace;
}

.Navbar-container {
    height: 50px;
    display: flex;
    justify-content: center;
}

.Navbar-link {
    display: flex;
    justify-content:space-between;
    padding: 12px;
    color:black;
    text-decoration: none;
    text-transform: uppercase;
}

.Navbar-link:hover {
    color:#cac7ea;
}


/*ul {
    position: relative;
    padding: 0;
    margin: 0;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background: var(--background);
    background-size: contain;
}

li {
    position: relative;
    height: 100%;
}

li[aria-current='page']::before {
    --size: 6px;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: calc(50% - var(--size));
    border: var(--size) solid transparent;
    border-top: var(--size) solid var(--color-text);
}

nav a {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 0.5rem;
    color: var(--color-text);
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: color 0.2s linear;
}*/

a:hover {
    color: #cac7ea;
}

.MenuIcon{
    display: flex;
    justify-content: right;
    align-items: right;
}

.Menu{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

@media only screen and (max-width: 600px) {
    .Navbar-container {display: none;}
}

@media only screen and (min-width: 601px) {
    .MenuIcon { display: none;}
}

