.App {
  text-align: center;
  justify-content: center;
  color:black;
}

.about-image {
  max-width: 100%;
  max-height: 100%;
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-size: 100vw 100vh;
	background: linear-gradient(#cac7ea,#d7c8e7,#d8bfd8);
	/*background-color:linear-gradient(#cac7ea,#d7c8e7,#d8bfd8);
	background-image: linear-gradient(#cac7ea,#d7c8e7,#d8bfd8);*/
	text-align: center;
	justify-content: center;
}

h1,
h2,
p {
	font-weight: 400;
}

h1,
h2 {
  	text-align: center;
}

p {
	line-height: 1.5;
  	font-family: "Fredoka", sans-serif;
}

h1 {
	font-family: "Comfortaa", sans-serif;
	margin-bottom:0;
	padding-bottom:0;
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
  	padding-top: 2rem;

}

h2 {
	font-size: 1rem;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

#subtitle {
  padding-top:0;
  text-align: center;
  margin-bottom:0;
  padding-bottom: 3rem;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

Link {
	text-decoration: none;
}

